__pycache__/
*.pyc
*.pyo
*.pyd
.env
# Ignore directories
eda_plots/
feature_importance_plots/

# Ignore specific files
Best_KMeans.pkl
Best_RandomForestCLassifier.pkl
Best_RandomForestRegressor.pkl
key.json